@import 'antd/dist/antd.css';

.ant-table-pagination>* {
    flex: none;
    width: 50px;
    float: right !important;
    height: 50px !important;
}

.ant-table-pagination-right {
    justify-content: center !important;
    background: #f4f2ff !important;
}

.ant-table-thead>tr>th {
    background: #f4f2ff !important;
}

.savebtn {
    padding-left: 10px;
}

.viwebtn {
    padding-left: 10px;

}